"*":
  "atom-autocomplete-php": {}
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css:
      indent_size: 2
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: "778ac23a-ba20-4531-8675-b364df939301"
    gherkin: {}
    handlebars: {}
    html:
      indent_size: 2
    jade: {}
    java: {}
    js:
      indent_size: 2
    json: {}
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php:
      cs_fixer_path: "/usr/local/bin/"
      fixers: "-indentation,-braces"
      level: "psr2"
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  core:
    disabledPackages: [
      "wrap-guide"
      "vim-mode-plus"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "\"Ricty\""
    fontSize: 19
    invisibles: {}
    lineHeight: 1.2
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "81481ca1-a40d-cbe8-c8a5-025f76f1e8fa"
  "git-plus": {}
  "japanese-wrap":
    characterWidth: {}
  linter:
    showErrorPanel: false
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
