"*":
  "atom-autocomplete-php": {}
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css:
      indent_size: 2
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: "778ac23a-ba20-4531-8675-b364df939301"
    gherkin: {}
    handlebars: {}
    html:
      indent_size: 2
    jade: {}
    java: {}
    js:
      indent_size: 2
    json: {}
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php:
      cs_fixer_path: "/usr/local/bin/"
      fixers: "-indentation,-braces"
      level: "psr2"
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "wrap-guide"
      "language-babel"
      "paner"
      "vim-mode-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "\"Ricty\""
    fontSize: 16
    invisibles: {}
    lineHeight: 1.2
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "81481ca1-a40d-cbe8-c8a5-025f76f1e8fa"
  "git-plus":
    general: {}
  "go-plus":
    config:
      gopath: "~/.go"
    currentPanelHeight: "10.252996005326231vh"
    format:
      tool: "gofmt"
    lint:
      args: [
        "--vendor"
        "--disable-all"
        "--enable=vet"
        "--enable=vetshadow"
        "--enable=golint"
        "--enable=ineffassign"
        "--enable=goconst"
        "--tests"
        "--json"
        "--errors"
        "."
      ]
  "japanese-wrap":
    characterWidth: {}
  "js-hyperclick":
    jumpToImport: true
  linter: {}
  "linter-ui-default":
    panelHeight: 128
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  nuclide:
    "nuclide-file-tree":
      hideIgnoredNames: false
    "nuclide-flow":
      warnOnNotInstalled: false
    "nuclide-home":
      showHome: false
    "nuclide-outline-view":
      nameOnly: true
    "nuclide-react-native": {}
    "nuclide-swift": {}
    use:
      "nuclide-file-tree": false
  "tree-view": {}
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
